@font-face {
    font-family: 'PurenJeonnam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/PureunJeonnam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PurenJeonnam';
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    overflow-x: hidden;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* 그라데이션 텍스트 효과 */
.gradient-text {
    background-image: linear-gradient(90deg, #fff, #fff);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    transition: opacity 1s ease;
}

.gradient-text:hover {
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header */
header {
    text-align: center;
    padding: 3rem 1rem 1rem;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 1rem;
    font-size: 70px;
    letter-spacing: 2px;
}

h2 {
    font-size: 36px;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.section-title {
    margin-bottom: 2rem;
}

/* Gallery Button - 갤러리 이동 버튼 */
.gallery-button-top {
    text-align: center;
    margin: 20px 0;
}

.gallery-btn {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.gallery-btn:hover {
    background-color: #666;
}

/* Exhibition Buttons - 전시관 버튼들 */
.button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 100%;
}

.exhibition-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: all 0.4s ease;
    width: 100%;
    height: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    color: white;
    font-weight: bold;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.6s forwards;
}

.exhibition-btn:hover {
    box-shadow: 0 0 30px rgba(235, 202, 122, 0.5);
}

.exhibition-btn:hover img {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.exhibition-btn:nth-child(1) {
    animation-delay: 0.2s;
}

.exhibition-btn:nth-child(2) {
    animation-delay: 0.4s;
}

.exhibition-btn:nth-child(3) {
    animation-delay: 0.6s;
}

.exhibition-btn:nth-child(4) {
    animation-delay: 0.8s;
}


.exhibition-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-top: 10px;
}

.btn-label {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}

.footer {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* 모바일 반응형 */
@media (max-width: 576px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 24px;
    }

    .button-group {
        grid-template-columns: 1fr;
        width: 100%;

    }

    .exhibition-btn {
        height: 250px;
        padding: 0.5rem;
    }
}